<div class="scrollable ng-scope">
	<div class="scrollable-content overthrow">
		<div class="list-group">
			<div class='container list-group-item' ng-repeat="sc in list">
				<a  href ng-click='getFirstField({{sc.id}})'>
					<div class'row'>
						<h1>{{sc.nombreEst}}</h1>
					</div>
					<div class='row'>				
						<div class = 'col-xs-4'>
							<img class = 'sport-center-img img-responsive' ng-src={{sc.gravatarUrl}}>
						</div>
						<div class = 'col-xs-8'>
							<p>Horario: {{sc.horario}}</p>
							<p>Ubicación:{{sc.canton}}, {{sc.provincia}}</p>
							<p>Telefono: {{sc.telefono1}}</p>
						</div>
					</div>
				</a>			
			</div>
		</div>
	</div>
</div>	